body {
    font-family: 'marker felt';
    font-weight: 500;
    font-size: 22px;
}

/* style for pokemon buttons */
.button-class {
    background-color: lightskyblue;
    color: black;
    padding: 12px 24px;
    text-align: center;
    display: inline-block;
    margin: 8px 4px;
    cursor: pointer;
}

button:hover {
    background-color: blue;
    color: white;
    transition: 800ms;
}

.pokemon-list {
    list-style-type: none;
    text-align: center;
}

/* style for modal */
#modal-container {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;    
    overflow: auto; 
    display: grid;
    text-align: center;
  }
  
  .modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: palegoldenrod;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: center;
  }
  
  .modal-close {
    float: right;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
  }
  
  .modal h1 {
    margin-right: 0;
  }
  
  .modal p {
    margin-bottom: 0;
  }

  .modal img {
    height: auto;
  }

  #modal-container {
    display: none;
  }
  
  #modal-container.is-visible {
    display: block;
  }
