
body {
    font-family: 'marker felt';
    font-weight: 500;
    font-size: 22px;
    padding-top: 60px;
}

.pokemon-button {
  background-color: lightskyblue;
  color: black;
  padding: 12px 24px;
  text-align: center;
  display: inline-block;
  margin: 8px 4px;
  cursor: pointer;
}

button:hover {
    background-color: blue;
    color: white;
    transition: 800ms;
}

.pokemon-list {
  list-style-type: none;
  text-align: center;
  margin: 0.5;
  padding: 0.5;
  display: grid;
  width: 100%;
  max-width: 1280px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 300px);
}

.allPokemon {
  background-color: #90EE90;
}

/* style for modal */

.modal-content {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #FF6347;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: center;
  }
  
.modal-close {
    float: right;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
  }
 
.list-group-item {
    background-color: #90EE90;
    border: none;
  }

